@charset "utf-8";
/**
* @description: 评论
* @author: assassin.liu
* @update: 2015/6/10
*/
.m-discuss{
    overflow: hidden;
}
.m-discuss .title{
    padding-left: 14px;
    font-size: 14px;
}
.m-discuss .push{
    margin: 0 14px 5px 14px;
    border: 1px solid #c2c2c2;
    background-color: #dbdbdb;
}
.m-discuss .push textarea{
    margin: 10px;
    width: 93%;
    height: 100px;
    outline: none;
    resize: none;
    border: 0;
    background-color: #dbdbdb;
}
/* 评论详情 */
.m-discuss .list{
    margin: 0 14px;
}
.m-discuss .list li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #dae5f8;
}
.m-discuss .list p{
    color: #a4a4a4;
}
.m-discuss .btn-box{
    padding-right: 14px;
    margin-bottom: 20px;
    text-align: right;
}
.m-discuss .portrait{
    float: left;
    width: 37px;
    height: 37px;
    background: url(../../bgimg/logo_1x.png) no-repeat;
}
.m-discuss .info{
    padding-left: 10px;
    overflow: hidden;
}
.m-discuss .storey{
    float: right;
    color: #a4a4a4;
}
.m-discuss .userName{
    line-height: 37px;
}