@charset "utf-8";
/**
* @description: 个人主页头像设置
* @author: assassin.liu
* @update: 2015/6/9
*/
.m-portrait{
    position: relative;
    min-height: 134px;
}
.m-portrait .fingerprint{

}
@keyframes line{
    0% {transform: translateY(-90px);}
    50% {transform: translateY(90px);}
    100% {transform: translateY(-90px);}
}
@-webkit-keyframes line{
    0% {-webkit-transform: translateY(-90px);}
    50% {-webkit-transform: translateY(90px);}
    100% {-webkit-transform: translateY(-90px);}
}