@charset "UTF-8";
/**
* @description:底部
* @author: assassin.liu
* @update: 2014/11/20
*/
.m-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 10;
    background: -webkit-linear-gradient(#0092eb,#007aea,#005ee2);
    background: linear-gradient(#0092eb,#007aea,#005ee2);
}
.m-foot a{
    display: block;
    color: #fff;
}
.m-foot .first > li {
    float: left;
    position: relative;
    width: 25%;
    text-align: center;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0,0,0,.2)
}
.m-foot .first > li:before {
    display: block;
    float: left;
    width: 1px;
    height: 40px;
    content: "";
    background-color: #00bbf4;
}
.m-foot .first > li:first-child:before,
.m-foot .first > li:first-child:after{
    width: 0;
}
.m-foot .first > li:after {
    display: block;
    float: left;
    width: 1px;
    height: 40px;
    content: "";
    background-color: #0033cc;
}
/* 二级导航 */
.m-foot .next{
    display: none;
    position: absolute;
    top: -80px;
    width: 100%;
    background-color: #008ce9;
}
.m-foot .next li{
    padding-right: 1px;
    border: solid 1px #00bdf3;
    border-right: 0;
    margin-bottom: -1px;
    position: relative;
}
.m-foot .next li:after{
    content: "";
    display: block;
    height: 40px;
    width: 1px;
    background-color: #00bdf3;
    position: absolute;
    right: -1px;
    top: 0;
}
.m-foot .next li a{
}