@charset "utf-8";
/**
* @description: 轮播图
* @author: assassin.liu
* @update: 2015/6/8
*/
.m-pic {
    max-width:560px;/* 设置焦点图最大宽度 */
    max-height:163px;
    position:relative;
    overflow:hidden;
}
/* 轮播 */
.m-pic .picbox{
    position:relative;
    z-index:0;
}
.m-pic .picbox li{
    position:relative;
    text-align:center;
}
.m-pic .picbox li img{
    background:url(../../bgimg/loading.gif) center center no-repeat;
    vertical-align:top;
    width:100%;/* 图片宽度100%，达到自适应效果 */
}
/* 状态 */
.m-pic .state {
    position: absolute;
    margin:3px 0 0 0;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    display: block;
}
.m-pic .state li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    line-height: 15px;
    font-size: 0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
    border: solid 2px #00deff;
}
.m-pic .state .on {
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #00deff;
    background-color: transparent;
    text-indent: -9999px;
}
.m-pic .state .on:after{
    position: absolute;
    top: 1px;
    left: 1px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: #00deff;
}
