@charset "utf-8";
/**
* @description: 轮播图
* @author: assassin.liu
* @update: 2015/6/8
*/
.m-pic {
    height:163px;
    position:relative;
    overflow:hidden;
}
.m-pic .imgbox {
    float:left;
    width:320px;
}
.m-pic .imgbox img {
    display:block;
    width:320px;
    height:163px;
}
.m-pic .state {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    display: block;
}
.m-pic .state {
    text-align:center;
    margin:3px 0 0 0;
}
.m-pic .state span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    line-height: 15px;
    font-size: 0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
    border: solid 2px #00deff;
}
.m-pic .state .selected {
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #00deff;
    background-color: transparent;
}
.m-pic .state .selected:after{
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
    background: #00deff;
}