@charset "utf-8";
/**
* @description: 个人主页头像设置
* @author: assassin.liu
* @update: 2015/6/9
*/
.m-portrait{
    position: relative;
}
/* 头像 */
.m-portrait .portrait{
    overflow: hidden;
    max-height: 134px;
}
.m-portrait .portrait img{
    vertical-align: top;
}
/* 指纹 */
.m-portrait .fingerprint{
    position: absolute;
    left: 50%;
    z-index: 2;
    top: 83px;
    margin-left: -41px;
    width: 82px;
    height: 96px;
    background: url(../../bgimg/fingerprint_1x.png);
}
.m-portrait .fingerprint .info{
    width: 82px;
    height: 96px;
    position: relative;
}
.m-portrait .fingerprint .text{
    top: -20px;
    position: relative;
    color: #fff;
    text-align: center;
}
.m-portrait .fingerprint .line{
    width:85px;
    height:2px;
    background-color: #41ebff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(65,235,235,.4);
    position:absolute;
    top:50%;
    left:50%;
    display: none;
    margin:0 0 0 -42.5px;
    -webkit-animation: line 1.4s linear infinite;
    animation: line 1.4s linear infinite;
}
/* 个人说明 */
.m-portrait .explain{
    padding: 50px 20px 0 20px;
    height: 147px;
    font-size: 14px;
    background: #012154 url(../../bgimg/explain_1x.jpg) no-repeat;
    background-size: 100% 197px;
    color: #fff;
    line-height: 24px;
}
.m-portrait .explain .rows{
    overflow: hidden;
}
.m-portrait .explain .title{
    width: 60px;
    float: left;
    text-align: right;
    color: #00ffff;
}
.m-portrait .explain .info{
    float: left;
    padding-left: 10px;
}
.m-portrait .explain .w1{
    width: 70px;
}
.m-portrait .explain .w2{
    width: 210px;
    max-height: 48px;
    overflow: hidden;
}
@keyframes line{
    0% {transform: translateY(-38.5px);}
    50% {transform: translateY(38.5px);}
    100% {transform: translateY(-38.5px);}
}
@-webkit-keyframes line{
    0% {transform: translateY(-38.5px);}
    50% {transform: translateY(38.5px);}
    100% {transform: translateY(-38.5px);}
}
@-moz-keyframes mymove /* Firefox */
{
    0% {transform: translateY(-38.5px);}
    50% {transform: translateY(38.5px);}
    100% {transform: translateY(-38.5px);}
}
@-o-keyframes mymove /* Opera */
{
    0% {transform: translateY(-38.5px);}
    50% {transform: translateY(38.5px);}
    100% {transform: translateY(-38.5px);}
}