@charset "utf-8";
/**
* @description: 个人照片展示
* @author: assassin.liu
* @update: 2015/6/9
*/
.m-portraitPic{}
.m-portraitPic .info{
    padding: 10px;
}
.m-portraitPic .imgbox{
    position: relative;
    display: block;
    margin-bottom: 10px;
    border: solid 2px #0070dd;
}
/*.m-portraitPic .imgbox img{
    max-height: 185px;
}*/
.close{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}
.close:after{
    position: relative;
    top: -2px;
    font-family: Tahoma;
    color: #fff;
    font-size: 30px;
    content: "×";
}