@charset "utf-8";
/**
* @description: 个人照片展示
* @author: assassin.liu
* @update: 2015/6/9
*/
.m-portraitPic{}
.m-portraitPic img{
    background-image: url(../../bgimg/loading.gif);
    background-repeat: no-repeat;
    background-position: center top;
}
.m-portraitPic .info{
    padding: 10px;
}
.m-portraitPic .imgbox{
    position: relative;
    display: block;
    margin-bottom: 10px;
    border: solid 2px #0070dd;
}
.m-portraitPic .imgbox:frist{
    position: relative;
}
.m-portraitPic .imgbox:after{
    position: absolute;
    right: 40px;
    bottom: 50px;
    width: 59px;
    height: 110px;
    display: block;
    content: "";
    background-image: url(../../bgimg/watermark.png);
    background-repeat: no-repeat;
    opacity:0.6;
    background-size: 59px 110px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
/*.m-portraitPic .imgbox img{
    max-height: 185px;
}*/
.close{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}
.close:after{
    position: relative;
    /*top: -2px;*/
    font-family: Tahoma;
    color: #fff;
    font-size: 36px;
    content: "×";
}