@charset "utf-8";
/**
* @description: 前20排名
* @author: assassin.liu
* @update: 2015/6/8
*/
.m-ranking ul{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 261px;
}
.m-ranking li{
    float: left;
    width: 40%;
    margin: 15px 4.666% 15px;
    color: #fff;
}

.m-ranking .item .cloud{
    position: absolute;
    left: -11px;
    bottom: -17px;
    display: block;
    width: 152px;
    height: 24px;
    background-image: url(../../bgimg/cloud_1x.png);
}
/* 内容 */
.m-ranking .item{
    position: relative;
    width: 126.5px;
    margin: auto;
    text-align: center;
    background-color: #006ddd;
    border: solid 2px #0d4c8c;

}

.m-ranking li .img-con{
    height: 97px;
    overflow: hidden;
}

.m-ranking li img{
    background-image: url(../../bgimg/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    /* height: 97px; */
}
.m-ranking a{
    display: block;
    color: #fff;
}
/* ico */
.m-ranking .onePiece{
    display: block;
    width: 100%;
    font-size: 28px;
    padding-top: 3px;
    overflow: hidden;
}
/* 个人说明 */
.m-ranking .info{
    margin-top: 3px;
    position: relative;
    padding: 5px 6px 5px 15px;
    text-align: left;
}
.m-ranking .info:after,
.m-ranking .info:before{
    display: block;
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: url(../../bgimg/music_2x.png) left top;
    background-size: 12px 34.5px;
}
.m-ranking .info:before{
    left: 5px;
}
.m-ranking .info:after{
    right: 5px;
    background-position: right top;
}
.m-ranking .info p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-ranking .fzm{
    font-size: 14px;
}
/* ico */
.m-ranking .rank{
    position: absolute;
    top: -10.5px;
    right: -8px;
    padding-right: 5px;
    height: 21px;
    line-height: 21px;
    background-color: #054687;
    border-radius: 10.5px;
    -webkit-border-radius: 10.5px;
    color: #ffff00;
}
.m-ranking .g-ico-heart{
    float: left;
    margin: 4px 0 0 5px;
}
.m-ranking .load-more{
    display: block;
    padding: 5px 0;
    margin: 0 20px 15px 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #0092eb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(0,210,255,.8);
    -webkit-border-radius: 3px;
    background: -webkit-linear-gradient(#0092eb,#007aea,#005ee2);
    background: -linear-gradient(#0092eb,#007aea,#005ee2);
}
